body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('valerionbg.png');
    background-size: cover;
    background-position: center;
    overflow-y: hidden;
    background-attachment: fixed
}

/* BACKGROUND GLASS */

main {
    margin: 5%;
    padding: 0;
    border-radius: 50px 50px;
    width: 70vw;
    height: 80vh;

    background-color: rgb(6, 0, 20);
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;

    transition: transform 0.25s ease-in-out;
}


/* SMP LOGO */

.smpLogo {
    width: 1014px;
    width: 365px;
    z-index: 1;
    position: relative;

    transform: scale(0.85);
    transition: transform 0.25s ease-in-out;
}

.smpLogo:hover {
    transform: scale(0.9);
    content: url('glowLogo.png');
    cursor: pointer;
}

/* LOGO BAR */
.logoBar {
    margin: 5%;
    width: 45%;
    height: 20%;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 50px;
    background-image: url('Void_barrens.png');
    background-size: cover;
    background-position: center;
    overflow: hidden; /* important */
}

.logoBar::before {
    content: '';
    position: absolute;
    width: 150%;
    height: 150%;
    top: -25%;
    left: -25%;
    inset: 5px;
    background: conic-gradient(transparent, transparent, transparent, #dd6fff);
    animation: rotate 2s linear infinite;
}

.logoBar::after {
    content: '';
    position: absolute;
    inset: 5px; /* controls border thickness */
    border-radius: 47px;
    background-image: url('Void_barrens.png');
    background-size: cover;
    background-position: center;
}

@keyframes rotate {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Main Description */

.mainDesc {
    width: 60%;
    min-height: 600px;

    flex-shrink: 0; /* ADD THIS too */
    background-color: rgb(0, 0, 255);
    border-radius: 50px 50px;
    background: rgba(0, 0, 0, 0.4);
    margin-bottom: 5%;
    margin-top: 0;
}

.neonBorder {
    position: relative;
    overflow: hidden;
    border-radius: 50px;
}

.neonBorder::before {
    content: '';
    position: absolute;
    width: 150%;
    height: 150%;
    top: -25%;
    left: -25%;
    background: conic-gradient(transparent, transparent, transparent, #dd6fff);
    animation: rotate 2s linear infinite;
}

.neonBorder::after {
    content: '';
    position: absolute;
    inset: 3px;
    border-radius: 47px;
    background-color: rgb(0, 0, 255);
    background: rgb(6, 0, 20); /* fully opaque, no transparency */
}